/* Main Header */

.main_header {
    width: 100%;
    max-height: 104px;
}

.main_header .main_header_content {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
}

.main_header .main_header_content .logo {
    flex-basis: 280px;
    padding: 20px;
    width: 240px;
}

.main_header .main_header_content .main_header_content_menu {
    flex-basis: calc(80% - 160px);
    display: flex;
    justify-content: flex-start;
}

.main_header_content_menu ul {
    display: flex;
    align-items: stretch;
}

.main_header_content_menu ul li {
    list-style: none;
    display: flex;
    align-items: center;
}

.main_header_content_menu ul li a {
    padding: 0 20px;
    display: flex;
    align-items: center;
    height: 100%;
}

.main_header_content_menu ul li a:hover {
    color: #008DEB;
    cursor: pointer;
}


.main_header_content > ul {
    flex-basis: calc(100% - 80%);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-left: 20px;
}

.main_header_content > ul li {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.main_header_content > ul li a {
    padding: 5px 15px;
    border: #008DEB solid 1px;
    align-items: center;
    height: 100%;
}

.main_header_content > ul li a:hover {
    color: #FCFCFC;
    background-color: #008DEB;
}

/* Banner */

.banner {
    width: 100%;
    background-image: url("/assets/images/slider/banner-1.png");
    height: 640px;
    box-shadow: inset 0 0 0 50vw rgba(0, 0, 0, 0.2);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.banner-content {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    height: 100%;
}

.banner-content header {
    flex-basis: 500px;
    display: flex;
    align-self: center;
}

.banner-content h1 {
    font-size: 3em;
    color: #FCFCFC;
}

/* Products */

.products {
    max-width: 1170px;
    margin: 0 auto;
    padding: 40px 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.products header {
    flex-basis: 100%;
    margin-bottom: 40px;
    text-align: center;
    align-items: center;
    align-content: center;
}

.products header h1 {
    width: fit-content;
    margin: 0 auto;
    padding: 5px 15px;
    color: #FCFCFC;
    border-color: #008DEB;
    background-color: #008DEB;
}

.products article {
    opacity: 0.9;
    flex-basis: calc(25% - 20px);
    margin-bottom: 40px;
    text-align: center;
}

.products article:hover {
    opacity: 1;
}

.services article img {
    width: 100%;
    padding-bottom: 20px;
}

/* Products */

.product-background {
    background-color: #FCFCFC;
}

.product {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    padding: 80px 0;
}

.product-content {
    flex-basis: 58%;
    padding: 0 20px;
}

.product-content h1 {
    font-size: 2.5em;
    color: #008DEB;
}

.product-content p {
    font-size: 2em;
    margin-bottom: 10px;
}

.product img {
    flex-basis: 40%;
    width: 100%;
}

/* Data Update */

.data-update-background {
    background-image: url("/assets/images/data-update.png");
    box-shadow: inset 0 0 0 50vw rgba(0, 0, 0, 0.7);
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.data-update {
    max-width: 1170px;
    margin: auto;
    text-align: center;
    padding: 0 20px;
}

.data-update h1, .data-update p {
    color: #FCFCFC;
}

.data-update header h1 {
    font-size: 2em;
}

.data-update p {
    font-size: 1.375em;
    margin: 20px 0;
}


/* Rodapé */

.footer {
    background-color: #FCFCFC;
}

.footer .footer-content {
    max-width: 1200px;
    padding: 40px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
}

.footer .footer-content article header h2 {
    font-size: 1.25em;
}

.footer .footer-content article ul li {
    padding: 10px 0;
}

.footer .footer-content article ul li a {
    font-size: 1em;
}

.footer .footer-content .footer-content-netplusapp ul li a {
    font-size: 40px;
}

.footer .footer-content .footer-content-netplusapp ul li a img {
    max-width: 150px;
}

/* Footer */
.main_footer_rights {
    width: 100%;
    text-align: center;
    align-items: center;
    height: 40px;
    font-size: 0.9em;
    font-weight: 300;
    display: flex;
    flex-wrap: wrap;
}

.main_footer_rights .main_footer_rights_content {
    max-width: 1170px;
    margin: 0 auto;
}

.main_footer_rights_content a {
    font-weight: 300;
}

/* Responsive */

@media (max-width: 64em) {
    .main-footer .main-footer-content {
        max-width: calc(1170px - 40px);
        justify-content: space-between;
        padding: 40px 20px;
    }
}